html {
    scroll-behavior: smooth;
}

.md-logo img {
    min-height: 50px;
    width: auto;
}

.img {
    width: auto;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.img-thin {
    width: 300px;
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
}

.endpoint-descrip {
    font-size: small;
    margin: 0;
    padding: 0;
    line-height: 0;
}
